.black-nav {
  display: flex;
  background-color: black;
  width: 100%;
  color: white;
  padding-left: 20px;
}

div {
  box-sizing: border-box;
}

.list {
  padding-left: 20px;
  /* text-align: center; */
  border-bottom: 1px solid gray;
}

@media (prefers-reduced-motion: no-preference) {
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
