:root {
  scroll-behavior: auto;
}

.alert-box {
  background-color: skyblue;
  padding: 20px;
  color: white;
  border-radius: 5px;
  display: none;
}
.alert-box1 {
  background-color: orange;
  padding: 20px;
  color: white;
  border-radius: 5px;
  display: none;
}

.list-group {
  visibility: hidden;
  overflow: hidden;
  height: 0px;
  transition: all 1s;
}

.show {
  visibility: visible;
  height: 400px;
}

.main-bg {
  padding: 100px 20px;
  background-color: lightgray;
}

.slide-container {
  width: 300vw;
  /* transform: translateX(-100vw); */
  transition: all 1s;
}

.slide-box {
  width: 100vw;
  float: left;
}

.slide-box > img {
  width: 100%;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 5;
}

.navbar-brand {
  font-size: 30px;
  transition: all 0.5s;
}

.badge:hover {
  cursor: pointer;
}
